@model ProductsListViewModel
@{
    ViewData["Title"] = "Товары";
}

<h2>Все товары</h2>
<h3>Категория: @Model.CurrentCategory</h3>
<div class="row mt-5 mb-2">
    @{
        foreach (var product in Model.AllProducts)
        {
            @Html.Partial("AllProducts", product)
            ;
        }
    }
</div>